/* Mobile Layout */
.container {
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
        "header"
        "nav"
        "main content"
        "ads"
        "footer";
    grid-template-rows: auto auto 1fr auto auto;   
    padding: 100px;
    gap: 10px; 
}


header {
    grid-area: header;
    background-color: rgb(116, 133, 118);
}
nav {
    grid-area: nav;
    background-color: rgb(52, 92, 72);
}
.content{
    grid-area: main content;
    background-color: lightgray;                
}
.ads {
    grid-area: ads;
    background-color: aqua;
}
footer {
    grid-area: footer;
    background-color: darkgray;
}
@media screen and (min-width: 768px) {
    .container {
        grid-template-areas: 
           "header header header"
           "nav content"
           "ads ads"
           "footer footer footer";
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr auto auto;
    }
    
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-areas: 
           "header header header"
           "nav content ads"
           "footer footer footer";
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }
    
}
halo